@tailwind base;
@tailwind components;
@tailwind utilities;

.neoblutshadow {
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
}
.neoblutshadow:hover {
    box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
}