.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  border: none !important;
}

.react-calendar__tile.react-calendar__tile--active {
  background-color: #427ef6 !important;
  color: white;
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 14.5%);
}

.react-calendar__tile.react-calendar__month-view__days__day:first-child {
  margin: 0 !important;
  margin-left: 4px !important;
  margin-top: 3px !important;
}

.react-calendar__month-view__days .react-calendar__tile {
  margin: 3px;
}

.react-calendar__tile--now {
  background: white !important;
}

.react-calendar__tile:disabled abbr {
  opacity: 0.1;
}

.react-calendar__navigation__arrow:disabled {
  opacity: 0.1;
}

.react-calendar__navigation__label {
  font-size: small !important;
}
